[Unit]
Description=Multi-protocols bridge for online communications
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
UMask=000
ExecStart=__FINALPATH__/matterbridge -conf __FINALPATH__/matterbridge.toml
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
