[Unit]
Description=Multi-protocols bridge for online communications
After=network.target

[Service]
WorkingDirectory=__PATH__
User=matterbridge
Group=users
Type=simple
UMask=000
ExecStart=/opt/matterbridge/matterbridge -conf /opt/matterbridge/matterbridge.toml
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target